@model List<PTS.Personnel>

@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">
        $(document).ready(function () {
            $(".confirmDialog").on("click", function (e) {
                var url = $(this).attr('href');
                $("#dialog-confirm").dialog({
                    autoOpen: false,
                    resizable: false,
                    width: 300,
                    height: 150,
                    show: {
                        effect: 'drop',
                        direction: "up",
                        duration: 1000
                    },

                    buttons: {
                        "Delete": function () {
                            window.location = url;
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    }
                });
                $("#dialog-confirm").dialog('open');
                return false;
            });
        });
    </script>
</head>
<body>
    <div class="">
        @Html.Partial("~/Views/Shared/_TopPartial.cshtml")

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3">
                <div class="list-group table-of-contents">
                    @Html.Partial("~/Views/Shared/_RolePartial.cshtml")
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-9">
                <h3>Personnels</h3>

                <div id="dialog-confirm" title="Confirmation" style="display: none">
                    <p>
                        <span style="float: left; margin: 0 7px 20px 0;"></span>
                        Are you sure to delete?
                    </p>
                </div>

                <p>
                    @Html.ActionLink("New Personnel", "Create")
                </p>
                <hr />

                @Html.Grid(Model).Columns(columns =>
                {
                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(p =>
                            @<b>
                                @Html.ActionLink("Edit", "Edit", "Personnel", new { ID = p.ID }, null)
                            </b>);

                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(p =>
                            @<b>
                                @Html.ActionLink("Quit Job", "QuitJob", "Personnel", new { ID = p.ID }, null)
                            </b>);

                    columns.Add()
                        .Encoded(false)
                        .Sanitized(false)
                        .SetWidth(30)
                        .RenderValueAs(p =>
                            @<b>
                                @Html.ActionLink("Delete", "Delete", new { ID = p.ID }, new { @class = "confirmDialog" })
                            </b>);

                    columns.Add()
                       .Encoded(false)
                       .Sanitized(false)
                       .SetWidth(30)
                       .RenderValueAs(p =>
                           @<b>
                               @Html.ActionLink("Uploads", "Uploads", "Personnel", new { ID = p.ID }, null)
                           </b>);

                    columns.Add(m => m.Name)
                        .Titled("Name")
                        .SetWidth(80);

                    columns.Add(m => m.Surname)
                    .Titled("Surname")
                    .SetWidth(80);

                    columns.Add(m => m.TC)
                        .Titled("TC")
                        .Filterable(true)
                        .SetWidth(100);

                    columns.Add(m => m.EntryDate)
                       .Titled("EntryDate")
                       .Format("{0:dd/MM/yyyy}")
                       .Filterable(true)
                       .SetWidth(100);

                    columns.Add(m => m.ExitDate)
                     .Titled("ExitDate")
                     .Format("{0:dd/MM/yyyy}")
                     .SetWidth(80);

                    columns.Add(m => m.DepartmentName)
                   .Titled("Department")
                   .SetWidth(80);

                }).WithPaging(15).Sortable().Selectable(false)
            </div>
        </div>
    </div>
</body>
</html>



